{% extends "base.html" %}

{% block content %}

{% if error != None%}
<div class="alert alert-danger alert-dismissible">
  <a href="" class="close text-decoration-none text-dark p-2" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{error}}</strong> 
</div>
{%endif%}


{% if success != None%}
<div class="alert alert-info alert-dismissible">
  <a href="/login" class="close text-decoration-none text-dark p-2" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{success}}</strong>
</div>
<div class="card container mt-5 my-4 text-center">
    <div class="row  justify-content-center align-items-center">
        {%load static%}      
        <a href="/login" class="btn btn-outline-light btn-lg px-5 m-5 smaller-button" type="submit">Return To Login</a>
    </div>
  </div>
  <style>
    .smaller-button {
      max-width: 50%; 
    }
  </style>
{% elif expired != None%}
<div class="alert alert-danger alert-dismissible">
  <a href="/login" class="close text-decoration-none text-dark p-2" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{expired}}</strong> 
</div>
<div class="card container mt-5 my-4 text-center">
    <div class="row  justify-content-center align-items-center">
        {%load static%}      
        <a href="/login" class="btn btn-outline-light btn-lg px-5 m-5 smaller-button" type="submit">Return To Login</a>
    </div>
  </div>
  <style>
    .smaller-button {
      max-width: 50%; 
    }
  </style>
{%else%}
<form action = "" method = "POST">
  {% csrf_token %}
<div class="card container mt-5 my-4 text-center">
    
    <div class="row  justify-content-center align-items-center">
        {%load static%}


            <div class="mb-md-5 mt-md-4 pb-3">

              <h2 class="display-6 mb-3 text-uppercase">Reset Password</h2>


              <div class="form-outline form-white p-2">
                <input type="password" placeholder="Password" class="smaller-input form-control-lg" name="password1"/>
              </div>

              <div class="form-outline form-white p-2">
                <input type="password" placeholder="Confirm Password" class=" smaller-input form-control-lg" name="password2"/>
              </div>
                          
              
              <button class="btn btn-outline-light btn-lg px-5 mt-5" type="submit">Confirm</button>
            </div>
  </div>
  </form>
  <style>
    .smaller-input {
      max-width: 50%; 
    }
  </style>
{%endif%}

{% endblock %}