{%extends "dash_base.html"%}

{%block content%}

<!--Navbar-->
<div class=" navbox container rounded mt-3">
    <nav class="navbar navbar-expand-lg row">
      <div class="container-fluid">
        <a class="navbar-brand text-light col text-uppercase display-5 p-2" href="">{{uni_name}}</a>
        <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav col">
            <li class="nav-item px-2">
              <a class="nav-link text-light text-uppercase"  href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link text-light text-uppercase" href="{% url 'student-analytics' %}">Analytics</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link text-light text-uppercase" href="{% url 'student-classes' %}">Classes</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link text-light text-uppercase" href="{% url 'student-viewmarks' %}">View Marks</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link text-light text-uppercase" href="{% url 'raise-issue' %}">Raise Issue</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link text-light text-uppercase" href="{% url 'student-profile' %}">Profile</a>
            </li>
            
          </ul>
          <a class="btn btn-outline-light btn-sm " href="{%url 'logout'%}">
            Logout
          </a>
        </div>
      </div>
    </nav>
    </div>




<div class="container mt-4">
  <div class="row ">
     <div class="p-3 border rounded shadow">
          
          <div class="display-6 text-center fw-light">EXAM RESULTS</div>

     </div>
  </div>
</div>

{%if sectionCount == 0%}
<div class="container mt-3 mb-3">
  <div class="border rounded shadow px-4 py-3">
    <div class="row text-center">
        <h5 class="col fw-light"> No Classes Yet</h5>
    </div>
  </div>
  </div>
{%endif%}


<!--List of Subjects-->
<form action="" method="POST">
  {%csrf_token%}
{%for class in sectionList%}
<div class="container mt-3 mb-3">
<div class="border rounded shadow px-4 py-3">
  <div class="row text-center">
      <h5 class="col fw-light"> {{class.course_id}}</h5>
      <h5 class="col-4 fw-light"> {{class.course_name}}</h5>
      <h5 class="col fw-light"> {{class.section_name}}</h5>
      <h5 class="col fw-light"> {{class.year}}</h5>
      <a class="col btn btn-outline-success" href="/viewmarks/{{class.course_id}}">Fetch Results</a>
  </div>
</div>
</div>
{%endfor%}
</form>

{%endblock%}
