body {
    background: #060e1b;
    overflow: hidden;
  }
  canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
  }

  .card {
  
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(5px);
  }

  .container {
    max-width: 70% !important;
 }
